$color-text-dark: black;
$color-text-light: white;
$color-red: #f44336;
$color-blue: rgb(64, 120, 224);
$color-hover-media-nav: #C9CCD5;
$color-product-links: #346FA2;
$color-product-links-hover: #1A86C9;
$color-inStock: #3eb95f;
$color-outStock: #EEBF14;
$color-hover-nav-btns: #1d82a1;
$color-acc-border: #acacacc4;

$bg-nav-footer: #222629;
$bg-body-light: #F9F9F9;
$bg-body-dark:rgb(80, 79, 79);
$bg-nav-dropdown-main: #ffffff;
$bg-nav-dropdown-tablet: #2c3135;
$bg-product-container: #EEEEEE;
$bg-product-container-hover: rgba(243, 243, 243, 0.356);
$bg-acc-hover: #C9CCD5;

$text-shadow: 0px 0px 2px #000000;
$product-box-shadow: 5px 5px 12px 3px #00000031;