$color-text-dark: black;
$color-text-light: white;
$color-red: #f44336;
$color-blue: rgb(64, 120, 224);
$color-hover-media-nav: #C9CCD5;

$bg-nav-footer: #222629;
$bg-body-light: #F9F9F9;
$bg-body-dark:rgb(80, 79, 79);
$bg-nav-dropdown-main: #ffffff;
$bg-nav-dropdown-tablet: #2c3135;